In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler

In [2]:
import preprocess
real_instances, simulated_instances, drawn_instances = preprocess.get_all_labels_and_files(by_label=False)

In [3]:
def count(instances):
    c = {}
    for k, lst in instances.items():
        c[k] = {}
        c[k]['normal'] = sum([label==0 for (label, _) in lst])
        c[k]['abnormal'] = len(lst) -  c[k]['normal']
    return c

count(real_instances)

{'WELL-00002': {'normal': 210, 'abnormal': 118},
 'WELL-00008': {'normal': 57, 'abnormal': 0},
 'WELL-00007': {'normal': 2, 'abnormal': 10},
 'WELL-00001': {'normal': 94, 'abnormal': 39},
 'WELL-00005': {'normal': 81, 'abnormal': 38},
 'WELL-00006': {'normal': 115, 'abnormal': 5},
 'WELL-00004': {'normal': 12, 'abnormal': 46},
 'WELL-00003': {'normal': 26, 'abnormal': 3},
 'WELL-00018': {'normal': 0, 'abnormal': 1},
 'WELL-00020': {'normal': 0, 'abnormal': 1},
 'WELL-00019': {'normal': 0, 'abnormal': 1},
 'WELL-00021': {'normal': 0, 'abnormal': 1},
 'WELL-00010': {'normal': 0, 'abnormal': 84},
 'WELL-00014': {'normal': 0, 'abnormal': 52},
 'WELL-00011': {'normal': 0, 'abnormal': 13},
 'WELL-00012': {'normal': 0, 'abnormal': 2},
 'WELL-00013': {'normal': 0, 'abnormal': 1},
 'WELL-00009': {'normal': 0, 'abnormal': 1},
 'WELL-00015': {'normal': 0, 'abnormal': 2},
 'WELL-00016': {'normal': 0, 'abnormal': 4},
 'WELL-00017': {'normal': 0, 'abnormal': 6}}

## Select wells with both normal and abnormal data

In [9]:
filtered_wells = ['WELL-00002', 'WELL-00001', 'WELL-00005',
 'WELL-00006',  'WELL-00004','WELL-00003',]

In [11]:
from tqdm import tqdm

def load_real_instances(filtered_wells, max_instances_per_type = 20):
    df_map = {}
    for well in tqdm(filtered_wells):
        df_normal = []
        df_ab = []
        for (label, fp) in real_instances[well]:
            if len(df_normal) >= max_instances_per_type and len(df_ab) >= max_instances_per_type:
                break

            if label == 0 and len(df_normal) < max_instances_per_type:
                df = pd.read_csv(fp)
                df['start'] = 0
                df.loc[0, 'start'] = 1
                df_normal.append(df)
            elif label != 0 and len(df_ab) < max_instances_per_type:
                df = pd.read_csv(fp)
                df['start'] = 0
                df.loc[0, 'start'] = 1
                df_ab.append(df)

        df_map[well] = {}
        df_map[well]['normal'] = pd.concat(df_normal).reset_index() if df_normal else None
        df_map[well]['abnormal'] = pd.concat(df_ab).reset_index()  if df_ab else None
    return df_map

df_map = load_real_instances(filtered_wells)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:09<00:00,  1.66s/it]

In [16]:
pd.read_csv('/Users/suchanuchpiriyasatit/Documents/Tsinghua/Learning from Data/GDN/raw_data/6/SIMULATED_00009.csv')[
    'class'
].value_counts()

6      17999
106     7200
0       1800
Name: class, dtype: int64

In [8]:
for well in filtered_wells:
    print(f'{well}: normal')
    df = df_map[well]['normal']
    display(df.describe())
    print(f'{well}: abnormal')
    df = df_map[well]['abnormal']
    display(df.describe())

WELL-00002: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,357607.000000,357607.0,3.576070e+05,357607.000000,3.576070e+05,357607.000000,3.576070e+05,0.0,357607.0,357607.0,357607.000000
mean,8939.814117,0.0,8.363871e+06,117.128480,1.673102e+06,74.474361,2.322565e+06,NaN,0.0,0.0,0.000056
std,5161.859885,0.0,3.483591e+05,0.583021,2.386120e+05,2.083131,7.090841e+03,NaN,0.0,0.0,0.007478
min,0.000000,0.0,7.161897e+06,114.996900,9.447082e+05,66.716670,2.307518e+06,NaN,0.0,0.0,0.000000
25%,4470.000000,0.0,8.119477e+06,116.724700,1.498730e+06,73.266515,2.317906e+06,NaN,0.0,0.0,0.000000
50%,8940.000000,0.0,8.426860e+06,117.185300,1.656784e+06,74.949440,2.322125e+06,NaN,0.0,0.0,0.000000
75%,13410.000000,0.0,8.615556e+06,117.559000,1.838063e+06,76.055820,2.325066e+06,NaN,0.0,0.0,0.000000
max,17968.000000,0.0,9.017208e+06,118.629600,2.553461e+06,78.679230,2.340199e+06,NaN,0.0,0.0,1.000000

WELL-00002: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,172953.000000,172953.0,1.729530e+05,172953.000000,1.729530e+05,172953.000000,1.729530e+05,0.0,172953.0,172356.000000,172953.000000
mean,5211.194255,0.0,1.528682e+07,118.058177,5.842944e+06,148.205576,4.520182e+06,NaN,0.0,9.696552,0.000116
std,4543.448486,0.0,1.454005e+06,0.526733,2.053958e+06,40.237557,1.826329e+05,NaN,0.0,24.471857,0.010753
min,0.000000,0.0,1.258818e+07,117.340600,1.629007e+06,80.851490,4.039072e+06,NaN,0.0,0.000000,0.000000
25%,2161.000000,0.0,1.340611e+07,117.591900,4.252456e+06,84.236390,4.383407e+06,NaN,0.0,4.000000,0.000000
50%,4323.000000,0.0,1.614649e+07,117.856600,7.052615e+06,173.096100,4.474512e+06,NaN,0.0,4.000000,0.000000
75%,6485.000000,0.0,1.628783e+07,118.629600,7.335128e+06,173.096100,4.670248e+06,NaN,0.0,4.000000,0.000000
max,24369.000000,0.0,1.715663e+07,119.137400,8.192052e+06,173.096100,4.878340e+06,NaN,0.0,106.000000,1.000000

WELL-00001: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,357729.000000,3.577290e+05,3.577290e+05,357729.000000,3.577290e+05,357729.000000,3.577290e+05,0.0,357729.0,357729.0,357729.000000
mean,8942.884801,-2.413792e+06,1.255203e+07,117.484933,4.434444e+06,74.286235,1.987389e+06,NaN,0.0,0.0,0.000056
std,5163.656150,3.286261e+06,2.132010e+06,0.806672,2.171401e+06,6.650558,1.571919e+06,NaN,0.0,0.0,0.007477
min,0.000000,-6.887865e+06,9.396249e+06,116.246800,1.004747e+06,68.144580,-1.490122e+05,NaN,0.0,0.0,0.000000
25%,4471.000000,-6.887865e+06,9.671309e+06,116.743500,1.589551e+06,69.222630,-1.458889e+05,NaN,0.0,0.0,0.000000
50%,8943.000000,0.000000e+00,1.392480e+07,117.502100,5.892787e+06,69.908290,3.019283e+06,NaN,0.0,0.0,0.000000
75%,13414.000000,0.000000e+00,1.420067e+07,118.473300,6.098025e+06,83.109250,3.056914e+06,NaN,0.0,0.0,0.000000
max,17973.000000,0.000000e+00,1.438364e+07,118.549900,6.232470e+06,84.702290,3.403531e+06,NaN,0.0,0.0,1.000000

WELL-00001: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,189047.000000,1.890470e+05,1.890470e+05,189047.000000,1.890470e+05,189047.000000,1.890470e+05,0.0,189047.0,188794.000000,189047.000000
mean,8172.316657,1.160178e+07,1.417874e+07,117.276531,6.055566e+06,70.447971,3.077759e+06,NaN,0.0,29.568567,0.000106
std,10074.558343,1.758841e+07,1.016241e+06,0.504064,6.507088e+05,2.593101,9.008590e+05,NaN,0.0,44.333418,0.010285
min,0.000000,0.000000e+00,1.328642e+07,115.739000,5.257381e+06,66.519190,-3.009178e+05,NaN,0.0,0.000000,0.000000
25%,2363.000000,0.000000e+00,1.367018e+07,116.971300,5.853508e+06,68.806415,3.279876e+06,NaN,0.0,4.000000,0.000000
50%,4726.000000,0.000000e+00,1.396038e+07,117.235700,5.998837e+06,69.344530,3.285229e+06,NaN,0.0,4.000000,0.000000
75%,7089.000000,3.826583e+07,1.428922e+07,117.647050,6.073056e+06,71.644040,3.384162e+06,NaN,0.0,101.000000,0.000000
max,44149.000000,3.826583e+07,1.843341e+07,118.160900,9.366608e+06,79.115840,3.425129e+06,NaN,0.0,107.000000,1.000000

WELL-00005: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,216969.000000,216969.0,2.169690e+05,216969.000000,2.169690e+05,216969.000000,0.0,0.0,0.0,216969.0,216969.000000
mean,5572.880195,0.0,2.087248e+07,105.825596,1.174611e+07,65.601563,NaN,NaN,NaN,0.0,0.000092
std,3445.289963,0.0,5.232011e+04,0.260996,1.172687e+05,0.866222,NaN,NaN,NaN,0.0,0.009601
min,0.000000,0.0,2.078767e+07,105.438300,1.149582e+07,64.053330,NaN,NaN,NaN,0.0,0.000000
25%,2712.000000,0.0,2.081919e+07,105.674600,1.170650e+07,65.029860,NaN,NaN,NaN,0.0,0.000000
50%,5424.000000,0.0,2.088305e+07,105.730800,1.177263e+07,65.200000,NaN,NaN,NaN,0.0,0.000000
75%,8188.000000,0.0,2.090795e+07,105.843300,1.182832e+07,65.821650,NaN,NaN,NaN,0.0,0.000000
max,17928.000000,0.0,2.100371e+07,106.392300,1.199415e+07,67.190000,NaN,NaN,NaN,0.0,1.000000

WELL-00005: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,142887.000000,142887.0,1.428870e+05,142887.000000,1.428870e+05,142887.000000,0.0,0.0,0.0,142887.0,142887.00000
mean,3571.796084,0.0,2.079034e+07,106.140570,1.160140e+07,66.497441,NaN,NaN,NaN,4.0,0.00014
std,2062.612137,0.0,2.671317e+04,0.071831,1.867061e+05,0.619197,NaN,NaN,NaN,0.0,0.01183
min,0.000000,0.0,2.071643e+07,105.982800,1.117582e+07,65.220000,NaN,NaN,NaN,4.0,0.00000
25%,1786.000000,0.0,2.077216e+07,106.080000,1.144688e+07,65.949935,NaN,NaN,NaN,4.0,0.00000
50%,3572.000000,0.0,2.079265e+07,106.143700,1.162104e+07,66.546090,NaN,NaN,NaN,4.0,0.00000
75%,5358.000000,0.0,2.081755e+07,106.192100,1.175188e+07,67.026080,NaN,NaN,NaN,4.0,0.00000
max,7189.000000,0.0,2.088880e+07,106.324800,1.199832e+07,67.800000,NaN,NaN,NaN,4.0,1.00000

WELL-00006: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,358588.000000,3.585880e+05,3.585880e+05,358588.000000,3.585880e+05,358588.000000,3.585880e+05,0.0,358588.0,358588.0,358588.000000
mean,8964.228474,4.018839e+07,2.025562e+07,117.139883,9.322128e+06,67.070637,1.834595e+06,NaN,0.0,0.0,0.000056
std,5175.828420,1.359749e+07,1.393536e+06,0.964161,4.476248e+06,8.319781,2.320565e+06,NaN,0.0,0.0,0.007468
min,0.000000,0.000000e+00,1.805437e+07,116.403100,2.463764e+06,61.111140,-4.973572e+05,NaN,0.0,0.0,0.000000
25%,4482.000000,4.485805e+07,1.825363e+07,116.495000,2.495631e+06,61.552650,1.439789e+05,NaN,0.0,0.0,0.000000
50%,8964.000000,4.485805e+07,2.114655e+07,116.538200,1.223686e+07,61.744660,1.277642e+06,NaN,0.0,0.0,0.000000
75%,13447.000000,4.485805e+07,2.117858e+07,118.539300,1.226271e+07,79.530152,2.371414e+06,NaN,0.0,0.0,0.000000
max,17969.000000,4.485805e+07,2.120640e+07,118.824900,1.234486e+07,80.359950,6.294679e+06,NaN,0.0,0.0,1.000000

WELL-00006: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,290429.000000,2.900670e+05,2.900670e+05,290067.000000,2.900670e+05,290067.000000,2.900670e+05,0.0,290067.0,289144.000000,290429.000000
mean,41784.392444,-8.624818e+41,2.014131e+07,118.234703,8.813895e+06,71.870853,2.050754e+06,NaN,0.0,90.911653,0.000017
std,33383.376555,5.234068e+41,1.216380e+06,0.557995,3.897453e+06,5.552917,1.406863e+06,NaN,0.0,36.513163,0.004149
min,0.000000,-1.180116e+42,1.794562e+07,117.301500,2.235074e+06,64.727810,5.786880e+03,NaN,0.0,0.000000,0.000000
25%,14521.000000,-1.180116e+42,1.837356e+07,117.905600,2.535085e+06,69.392375,1.281880e+06,NaN,0.0,101.000000,0.000000
50%,33190.000000,-1.180116e+42,2.068771e+07,118.213300,1.068084e+07,70.467730,1.330347e+06,NaN,0.0,107.000000,0.000000
75%,61391.000000,1.380643e+07,2.078746e+07,118.551500,1.104481e+07,79.006410,4.098237e+06,NaN,0.0,107.000000,0.000000
max,126262.000000,4.485805e+07,2.124630e+07,119.410800,1.235499e+07,81.834290,4.189701e+06,NaN,0.0,107.000000,1.000000

WELL-00004: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,85505.000000,85505.0,8.550500e+04,85505.000000,8.550500e+04,85505.000000,0.0,0.0,0.0,85505.0,85505.000000
mean,3562.326086,0.0,1.774159e+07,106.500802,9.593477e+06,67.993415,NaN,NaN,NaN,0.0,0.000140
std,2057.145265,0.0,1.400043e+04,0.048180,6.161828e+04,0.312660,NaN,NaN,NaN,0.0,0.011846
min,0.000000,0.0,1.770112e+07,106.414800,9.349984e+06,66.586810,NaN,NaN,NaN,0.0,0.000000
25%,1781.000000,0.0,1.772975e+07,106.458000,9.547938e+06,67.797650,NaN,NaN,NaN,0.0,0.000000
50%,3562.000000,0.0,1.774019e+07,106.500900,9.579454e+06,68.009420,NaN,NaN,NaN,0.0,0.000000
75%,5344.000000,0.0,1.775168e+07,106.550700,9.648090e+06,68.207470,NaN,NaN,NaN,0.0,0.000000
max,7167.000000,0.0,1.779535e+07,106.563300,9.794150e+06,68.960140,NaN,NaN,NaN,0.0,1.000000

WELL-00004: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,127870.000000,127826.0,1.277040e+05,127726.000000,1.278700e+05,127708.000000,0.0,0.0,0.0,127731.000000,127870.000000
mean,3462.429405,0.0,1.718782e+07,106.553071,9.129116e+06,68.607330,NaN,NaN,NaN,5.316626,0.000156
std,2081.892489,0.0,1.099137e+06,0.084417,9.772114e+05,1.331411,NaN,NaN,NaN,12.027156,0.012505
min,0.000000,0.0,1.324251e+07,106.455300,5.244155e+06,65.600140,NaN,NaN,NaN,0.000000,0.000000
25%,1625.000000,0.0,1.618616e+07,106.520100,8.511879e+06,67.921190,NaN,NaN,NaN,4.000000,0.000000
50%,3398.000000,0.0,1.775544e+07,106.541000,9.545817e+06,68.334210,NaN,NaN,NaN,4.000000,0.000000
75%,5268.000000,0.0,1.777529e+07,106.563300,9.683469e+06,68.878692,NaN,NaN,NaN,4.000000,0.000000
max,7188.000000,0.0,1.784361e+07,107.017800,9.852484e+06,73.840000,NaN,NaN,NaN,106.000000,1.000000

WELL-00003: normal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,356861.000000,3.548320e+05,3.548320e+05,354819.000000,3.564200e+05,0.0,0.0,0.0,0.0,356861.0,356861.000000
mean,8921.308507,3.154497e+07,1.685051e+07,110.652162,9.588333e+06,NaN,NaN,NaN,NaN,0.0,0.000056
std,5151.341069,2.954163e+05,2.738489e+05,0.247736,4.100193e+05,NaN,NaN,NaN,NaN,0.0,0.007486
min,0.000000,3.123479e+07,1.658034e+07,109.938100,9.110818e+06,NaN,NaN,NaN,NaN,0.0,0.000000
25%,4460.000000,3.130786e+07,1.665730e+07,110.525000,9.276197e+06,NaN,NaN,NaN,NaN,0.0,0.000000
50%,8921.000000,3.139216e+07,1.670381e+07,110.776900,9.363394e+06,NaN,NaN,NaN,NaN,0.0,0.000000
75%,13382.000000,3.175347e+07,1.702790e+07,110.854900,9.848848e+06,NaN,NaN,NaN,NaN,0.0,0.000000
max,17974.000000,3.222495e+07,1.751426e+07,110.952800,1.059748e+07,NaN,NaN,NaN,NaN,0.0,1.000000

WELL-00003: abnormal

,index,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,start
count,21610.000000,2.161000e+04,2.161000e+04,21610.000000,2.161000e+04,0.0,0.0,0.0,0.0,21253.000000,21610.000000
mean,3826.153447,3.352345e+07,1.059655e+07,49.373122,3.748674e+06,NaN,NaN,NaN,NaN,72.171740,0.000139
std,2435.289697,1.166157e+06,3.973236e+06,40.431130,4.073438e+06,NaN,NaN,NaN,NaN,46.306226,0.011782
min,0.000000,3.151992e+07,4.860626e+06,6.709711,-8.317492e+03,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,1800.250000,3.256129e+07,7.881582e+06,16.329910,-8.100597e+03,NaN,NaN,NaN,NaN,0.000000,0.000000
50%,3601.000000,3.401390e+07,8.952152e+06,29.672855,1.977000e+06,NaN,NaN,NaN,NaN,102.000000,0.000000
75%,5561.000000,3.435154e+07,1.663634e+07,101.379475,9.051954e+06,NaN,NaN,NaN,NaN,102.000000,0.000000
max,9484.000000,3.496202e+07,1.688088e+07,113.485400,9.173318e+06,NaN,NaN,NaN,NaN,102.000000,1.000000

In [16]:
def normalize(df_train, df_test, cols):
    
    scaler = MinMaxScaler()
    normalizer = MinMaxScaler(feature_range=(0, 1)).fit(df_train[cols])
    norm_train = normalizer.transform(df_train[cols])
    norm_test = normalizer.transform(df_test[cols])
    
    def to_df(norm_data, df):
        ndf = pd.DataFrame(norm_data, columns=cols)
        ndf['start'] = df.start
        ndf['class'] = df['class']
        ndf['timestamp'] = df['timestamp']
        return ndf
    
    ndf_train = to_df(norm_train, df_train)
    ndf_test = to_df(norm_test, df_test)
    
    return ndf_train, ndf_test

In [13]:
from visualization import plot_by_instances

In [18]:
df_map['WELL-00001']['normal'].columns

Index(['index', 'timestamp', 'P-PDG', 'P-TPT', 'T-TPT', 'P-MON-CKP',
       'T-JUS-CKP', 'P-JUS-CKGL', 'T-JUS-CKGL', 'QGL', 'class', 'start'],
      dtype='object')

In [19]:
cols = ['P-PDG', 'P-TPT', 'T-TPT', 'P-MON-CKP',
       'T-JUS-CKP', 'P-JUS-CKGL']
df_norm, df_ab_norm = normalize(df_map['WELL-00001']['normal'], df_map['WELL-00001']['abnormal'], cols=cols)

In [36]:
cols

['P-PDG', 'P-TPT', 'T-TPT', 'P-MON-CKP', 'T-JUS-CKP', 'P-JUS-CKGL']

In [29]:
df = df_map['WELL-00001']['normal']
df = df.dropna(subset=cols+['class'])
df_ab = df_map['WELL-00001']['abnormal']
df_ab = df_ab.dropna(subset=cols+['class'])
df_ab['class'] = df_ab['class'].apply(lambda x: 1 if x!=0 else 0)

/Users/suchanuchpiriyasatit/.pyenv/versions/3.7.9/envs/lfd-gdn/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
df_ab[df_ab.start==1].index

Int64Index([     0,  44150,  56655,  63845,  71015,  78173,  85353,  92431,
             99621, 106791, 113950, 121109, 128294, 135475, 142650, 149830,
            157015, 167553, 174702, 181877],
           dtype='int64')

In [35]:
df_ab.iloc[:44150].reset_index(drop=True).to_csv(f'data/WELL-00001-updated/test.csv', index=True)

In [33]:
df.reset_index(drop=True).to_csv(f'data/WELL-00001-updated/train.csv', index=True)

In [ ]:
df.reset_index(drop=True).to_csv(f'data/WELL-00003/test.csv', index=True)

In [1]:
# plot_by_instances(df_norm)

In [2]:
# plot_by_instances(df_ab_norm)

In [3]:
# plot_by_instances(df_ab_norm.iloc[:1000])

In [25]:
cols = [ 'P-PDG', 'P-TPT', 'T-TPT', 'P-MON-CKP',
       'T-JUS-CKP', 'P-JUS-CKGL']
df_norm, df_ab_norm = normalize(df_map['WELL-00006']['normal'], df_map['WELL-00006']['abnormal'], cols=cols)

In [4]:
# plot_by_instances(df_norm)

In [5]:
# plot_by_instances(df_ab_norm)